
.textPanel {
  border-top: 4px solid #232D47;
  background: linear-gradient(180deg, #C2D3FF 0%, rgba(197, 212, 250, 0.75) 74.5%, rgba(200, 212, 242, 0.50) 100%);
  padding: 20px 100px;
  height: 100%;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}