.button {
  border-radius: 5px;
  border: 4px solid #232D47;
  background-color: #ACC3FF;
  color: #232D47;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  padding: 4px;
}

.button:hover {
  background-color: #BDD4FF;
}