.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../../../public/placeholder_bg.png');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    background-color: #232D47;
}

.rectangle {
    
    min-width: 320px;
    max-width: 475px;
    flex-shrink: 0;
    border: 4px solid #232D47;
    background: linear-gradient(180deg, #C2D3FF 0%, rgba(197, 212, 250, 0.75) 74.5%, rgba(200, 212, 242, 0.50) 100%);
    padding: 15px;

    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    color: #232D47;
    /* font-family: "Monomaniac One"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}

.form select {
    
 border-radius: 5px;
  border: 4px solid #232D47;
  background-color: #ACC3FF;
  color: #232D47;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form input{
    width: 100%;
    background-color: #faf7f7; 
    color: #070707; 
}

.darkModeToggle {
    display: flex;
    align-items: center;
    margin-top: 5px; 
    
}

.darkModeCheckbox {
    display: flex;
    align-items: center;
    margin-right: 8px; 
    margin-top: 5px;
    margin-bottom: 20px;
}

.darkModeCheckbox input {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #555;
    border-radius: 50%;
    margin-right: 4px; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.darkModeCheckbox input:checked {
    background-color: #1e1e1e; 
    border-color: #fff; 
}

.darkModeCheckbox label {
    font-size: 20px; 
    color: black; 
    cursor: pointer;
}


.form p:last-child {
    margin-top: 10px; 
}
