
.topPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-bottom: 4px solid #232D47;
  background: #ACC3FF;
}

.dateWrapper {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.titleWrapper {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.burgerMenuArea {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}